/* google font family */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@400;500;600;700&display=swap");

body {
    font-family: "Roboto Flex", sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
